body {
  margin: 0;
  background-color: #ffe0f0; /* pink background */
  font-family: 'Comic Sans MS', cursive, sans-serif;
  overflow-x: hidden;
}

.title {
  text-align: center;
  font-size: 4rem;
  margin-top: 155px; /* Positioned just below the slime */
  color: #ff69b4;
  text-shadow: 2px 2px 6px #cc2f7d;
  z-index: 1;
  position: relative;
}

/* Slime drips just above the title, mostly flat except for l*
